<% @tasks.each do |task| %>
  <p> <%= task.name%>, <%= task.description %>,  <%= task.done %>,  <%= link_to "edit", task_path(task) %></p>

<% end %>

 <h2> <%= link_to "add a task", new_task_path() %></h2>

