<p><%= @task.name %>, <%= @task.description %>, <%= @task.done %></p>

<%= link_to "add a new task", new_task_path() %>
<%= link_to "update", edit_task_path(@task) %>
<%= link_to "view all", tasks_path() %>

